[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/torch_stable.html"
verify_ssl = false

[dev-packages]

[packages]
gym = "*"
jupyterlab = "*"
ipywidgets = ">=7.5"
plotly = "==4.10.0"
ray = {extras = ["rllib"], version = "*"}
torch = "*"

[requires]
python_version = "3.9"
